/*
    FILE:           style.css
    PROJECT:        posts_proj
    PROGRAMMER:     Quade Nielsen
    LAST EDIT:      April 7, 2023
    DESCRIPTION:    This file contains the html classes for the posts_proj web application.
*/

.not-visible {
    display: none;
}

.dz {
    border: dashed !important;
    border-color: gray !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}