<!--
    FILE:         navbar.html
    PROJECT:      posts_proj
    PROGRAMMER:   Quade Nielsen
    LAST EDIT:    April 7, 2023
    DESCRIPTION:  This file contains the html for the navbar of the web application.
-->

{% url 'posts:main-board' as path_to_home %}
{% url 'profiles:my-profile' as path_to_my_profile %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{path_to_home}}">Posts-proj</a>
      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ path_to_home }}" class="nav-link {% if request.path == path_to_home %}active{% endif %}">Home</a>
          </li>
          <li class="nav-item">
            <a href="{{ path_to_my_profile }}" class="nav-link {% if request.path == path_to_my_profile %}active{% endif %}">My Profile</a>
          </li>
        </ul>
      </div>
  </div>
</nav> 