<!-- 
    main html for the posts application
    
    this file extends the base.html file which serves as a base
    template for the web app

    we can load scripts, a title, and content onto this page and django
    will load it using the base template
-->

{% extends "base.html" %}
{% load static %}

{% block scripts%}
    <script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts%}

{% block title%}
posts
{% endblock title%}

{% block content%}
    <div id="spinner-box" class="text-center">
        <div class="spinner-border" role="status"></div>
    </div>
    <div id="posts-box"></div>
    <div class="text-center mb-3" id="end-box">
        <button class="btn btn-primary" id="load-btn">Load more</button>
    </div>
{% endblock content%}